.footer {
    position: relative;
    text-align: center;
    margin-top: -100px;
    padding: 1em 0;
    color: white;
}

.contact-links{
    height: 35px;
    width: 35px;
    margin-right: 15px;
    margin-left: 15px;
}   
.text-footer{
    text-align: center;
}