
.wrap{ 
   
    margin-top: -120vh;
}
.img-skills{
    margin-right: 125px;
    margin-bottom: 130px;
    height:160px;
    width:180px;
    transition-duration: 1s, 1s, 1s, 1s;
    transition-timing-function: ease-out, ease-in, linear, ease-in-out;
    transition-delay: 0, 0, 0, 0;

}

.img-skills:hover{
     transform: rotateY(360deg);
}